﻿.autocomplete-w1 { color: white; no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 8px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; border-color: silver;  background-color: #34343b; cursor:default; text-align:left; max-height:350px;  overflow:auto; margin:-6px 0px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected {color: white; font-weight: bold; padding-left: 10px; }
.autocomplete div { padding:2px 5px; white-space:nowrap;}
.autocomplete strong { font-weight: bold;  color: white;   } 
